// There is no required CSS for this plugin to work properly
// but here is what is being used to style this demo
.horizontal-nav {
  background: white;
  border-radius: #00b9f2 6px;
  
}
.horizontal-nav ul {
  background: white;
  float: left;
   font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #00b9f2;
  
}
.horizontal-nav ul li {
  float: left;
  border-left: 1px solid #00b9f2;
  display: table;
}
.horizontal-nav ul li:first-child {
  border-left: 0 none;
}
.horizontal-nav ul li a {
  display: block;
  padding: 10px 20px;
  color: black;
  border-top: 1px solid rgba(255,255,255, 0.25);
  border-left: 1px solid rgba(255,255,255, 0.25);
  text-decoration: none;
}
.horizontal-nav ul li:first-child a {
  border-left: 0 none;
}
.horizontal-nav ul li a:hover {
  background: #C6C6C0;
  text-decoration: none;
}
.horizontal-nav ul li:first-child a {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.horizontal-nav ul li:last-child a {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}