/* Smartphones (portrait and landscape) ----------- */
/* Styles */
	#wrapper{
		width: auto;
		height:auto;
	}
	
	#response_bar{
		/* border: 1px solid black; */
		background-color:white;
		height: 163px;
		display: table;
		position: relative;
		float:center;
    	width:95%;
		/*width:75%; 
		height:	200px;
		padding: 2px; */
		float:center;
		margin-top: 1em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto; 
		/*border-spacing: 5px 5px 5px 5px; */
	}
	
	#response_boxes
	{
		/* height: auto; */
		width:90%;
		margin-top: 1em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto;
		display: table;
  		border-collapse: separate;
  		border-spacing: 14px;
	}
	
	

#row { display:table-row;
 }
	
	table{
		height: auto;
		width:20%;
		background-color: #B0C4DE;
		display:table-cell;
	
	}
	
	th{
		background-color: #4169E1;
		font-size:8px;
		text-align:center;
		color: white;
		width:10%;
		padding-top: 10%;
	
	}
	
	tr
	{
		height: 1px;
		width:auto;
	}
	
	td{
		font-size:10px;
		padding-top: 10%;
	
	}
	
	#response_pies {
		/* border: 1px solid black; */
		height:50%;
		width:100%;
		margin-top: 1em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto;
		display: table;
  		border-collapse: separate;
  		/* border-spacing: 25px; */
	}
#pie_left{
		/* border: 1px solid black; */
		display: table-cell;
		height:220px;
		/* position: absolute;  */
		float:left;
    	width:40%;
		/*width:75%; 
		height:	200px;*/
		margin-top: 0;
		margin-left: auto; 
		margin-right:30px; 
		margin-bottom: auto; 
		padding-top: 0.5em;
		padding-bottom:0.5em;
		/*border-spacing: 5px 5px 5px 5px; */}
		
#pie_right{
		height:275px;
		/* border: 1px solid black; */
		display: table-cell;
		/* position: absolute;  */
		float:right;
    	width:40%;
		/*width:75%; 
		height:	200px;
		padding: 2px; */
		padding-top: 0.5em;
		padding-bottom:0.5em;
		margin-top: 0;
		margin-left: 30px; 
		margin-right: auto; 
		margin-bottom: auto; 
		/*border-spacing: 5px 5px 5px 5px; */}

/* Smartphones (landscape) ----------- */
/* @media only screen 
and (min-width : 321px) {
Styles
}

Smartphones (portrait) -----------
@media only screen 
and (max-width : 320px) {
Styles

	
} */

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
#wrapper{
		width: auto;
		height:auto;
	}
	.logo{
		margin-top: 8%;
		width:80%;
		height: auto;
	}
	#box{
		border-radius: 12px;
		background-color:#C6C6C0;
		padding: 14px;
		margin: 22px;
	}
	p{
		margin-top:auto;
		color: #00b9f2;
		font-family: tahoma;
		font-size:20px;
		line-height:auto;
		width: auto;
		text-align: center;
		height: auto;
	}
	
	#main-menu{
		width: auto;
	}
	
	#response_bar{
		border: 1px solid black;
		background-color:white;
		width:75%; 
		height:	200px;
		/* padding: 2px; */
		margin-top: 2em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto; 
	}
	
	#response_boxes
	{
		height: auto;
		width:78%;
		margin-top: 2em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto;
		display: table;
  		border-collapse: separate;
  		border-spacing: 25px;
	}
	
	

#row { display:table-row;
 }
	
	table{
		height: 240px;
		background-color: #B0C4DE;
		display:table-cell;
	
	}
	
	th{
		background-color: #4169E1;
		font-size:28px;
		text-align:center;
		color: white;
		width:44%;
		padding-top: 10%;
	
	}
	
	tr
	{
		height: 75px;
		width:100%;
	}
	
	td{
		font-size:20px;
		padding-top: 5%;
	
	}
	
	#response_pies {
		height: auto;
		width:auto;
		margin-top: 1em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto;
	}
#pie_left{float:left; height:206px; width:auto; /*border:1px solid rgba(0,0,0,1);*/}
#pie_right{float:right; height:250px; width:auto; /*border:1px solid rgba(0,0,0,1);*/}
}

/* iPads (landscape) ----------- */
/* @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
Styles
}

iPads (portrait) -----------
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
Styles
} */

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) {
/* Styles */
	#wrapper{
		width: auto;
		height:auto;
	}
	.logo{
		margin-top: 8%;
		width:80%;
		height: auto;
	}
	#box{
		border-radius: 12px;
		background-color:#C6C6C0;
		padding: 14px;
		margin: 22px;
	}
	p{
		margin-top:auto;
		color: #00b9f2;
		font-family: tahoma;
		font-size:20px;
		line-height:auto;
		width: auto;
		text-align: center;
		height: auto;
	}
	
	#main-menu{
		width: auto;
	}
	
	#response_bar{
		border: 1px solid black;
		background-color:white;
		width:75%; 
		height:	200px;
		/* padding: 2px; */
		margin-top: 2em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto; 
	}
	
	#response_boxes
	{
		height: auto;
		width:78%;
		margin-top: 2em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto;
		display: table;
  		border-collapse: separate;
  		border-spacing: 25px;
	}
	
	

#row { display:table-row;
 }
	
	table{
		height: 240px;
		background-color: #B0C4DE;
		display:table-cell;
	
	}
	
	th{
		background-color: #4169E1;
		font-size:18px;
		text-align:center;
		color: white;
		width:44%;
		padding-top: 10%;
	
	}
	
	tr
	{
		height: 75px;
		width:100%;
	}
	
	td{
		font-size:20px;
		padding-top: 5%;
	
	}
	
	#response_pies {
		height: auto;
		width:auto;
		margin-top: 1em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto;
	}
#pie_left{float:left; height:250px; width:auto; /*border:1px solid rgba(0,0,0,1);*/}
#pie_right{float:right; height:250px; width:auto; /*border:1px solid rgba(0,0,0,1);*/}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
	#wrapper{
		width: auto;
		height:auto;
	}
	.logo{
		margin-top: 8%;
		width:80%;
		height: auto;
	}
	#box{
		border-radius: 12px;
		background-color:#C6C6C0;
		padding: 14px;
		margin: 22px;
	}
	p{
		margin-top:auto;
		color: #00b9f2;
		font-family: tahoma;
		font-size:20px;
		line-height:auto;
		width: auto;
		text-align: center;
		height: auto;
	}
	
	#main-menu{
		width: auto;
	}
	
	#response_bar{
		border: 1px solid black;
		background-color:white;
		width:75%; 
		height:	200px;
		/* padding: 2px; */
		margin-top: 2em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto; 
	}
	
	#response_boxes
	{
		height: auto;
		width:78%;
		margin-top: 2em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto;
		display: table;
  		border-collapse: separate;
  		border-spacing: 25px;
	}
	
	

#row { display:table-row;
 }
	
	table{
		height: 240px;
		background-color: #B0C4DE;
		display:table-cell;
	
	}
	
	th{
		background-color: #4169E1;
		font-size:28px;
		text-align:center;
		color: white;
		width:44%;
		padding-top: 10%;
	
	}
	
	tr
	{
		height: 75px;
		width:100%;
	}
	
	td{
		font-size:20px;
		padding-top: 5%;
	
	}
	
	#response_pies {
		height: auto;
		width:auto;
		margin-top: 1em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto;
	}
#pie_left{float:left; height:250px; width:auto; /*border:1px solid rgba(0,0,0,1);*/}
#pie_right{float:right; height:250px; width:auto; /*border:1px solid rgba(0,0,0,1);*/}
}

/* iPhone 4 ----------- */
/* @media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
Styles
	#wrapper{
		width: auto;
		height:auto;
	}
	.logo{
		margin-top: 8%;
		width:80%;
		height: auto;
	}
	#box{
		border-radius: 12px;
		background-color:#C6C6C0;
		padding: 14px;
		margin: 22px;
	}
	p{
		margin-top:auto;
		color: #00b9f2;
		font-family: tahoma;
		font-size:20px;
		line-height:auto;
		width: auto;
		text-align: center;
		height: auto;
	}
	
	#main-menu{
		width: auto;
	}
	
	#response_bar{
		border: 1px solid black;
		background-color:white;
		width:75%; 
		height:	200px;
		padding: 2px;
		margin-top: 2em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto; 
	}
	
	#response_boxes
	{
		height: auto;
		width:78%;
		margin-top: 2em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto;
		display: table;
  		border-collapse: separate;
  		border-spacing: 25px;
	}
	
	

#row { display:table-row;
 }
	
	table{
		height: 240px;
		background-color: #B0C4DE;
		display:table-cell;
	
	}
	
	th{
		background-color: #4169E1;
		font-size:28px;
		text-align:center;
		color: white;
		width:44%;
		padding-top: 10%;
	
	}
	
	tr
	{
		height: 75px;
		width:100%;
	}
	
	td{
		font-size:20px;
		padding-top: 5%;
	
	}
	
	#response_pies {
		height: auto;
		width:auto;
		margin-top: 1em;
		margin-left: auto; 
		margin-right: auto; 
		margin-bottom: auto;
	}
#pie_left{float:left; height:206px; width:auto; border:1px solid rgba(0,0,0,1);}
#pie_right{float:right; height:250px; width:auto; border:1px solid rgba(0,0,0,1);}
} */