/*
  Header
*/

.bs-header {
  color: #FFF;
  text-align: center;
  background-color: #5fb0e4;
  background-image: url('../img/triangles.jpg?ver=3');
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
}

.bs-header {
  padding: 10px 15px 10px;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.bs-header h1 {
  color: #FFF;
  text-shadow: 2px 2px 0px rgba(59, 88, 139, 0.4);
}
.bs-header p {
  font-weight: 200;
  color: #A3D2FF;
  line-height: 1.5;
}

.bs-header a {
  color: #FFF;
}
.bs-header .container {
  position: relative;
}

.user-avatar-sm{
  width: 40px;
  height: 40px;
  border: 2px #769fd1 solid;
}

.user-avatar-mini{
  width: 18px;
  height: 18px;
  border: 1px #769fd1 solid;
}

.search-btn{
  border-radius: 18px;
}

.navbar-nav>li>a{
  padding: 15px 8px;
}

.search-results>li>a{
  margin-top: 5px;
}

.tag-list li, .resource-list li{
  float:left;
}

.tag-list a:hover{
  background-color: #16a085 !important;
}

#social-sharing {
  padding-top: 5px;
}

.carbonad{
  border-color: #5F9CEB !important;
  width:100% !important; 
  border-radius: 5px;
  background: #93D7F7 !important;
  background-image: none;
}

span.carbonad-tag {
  color: #525151 !important;
}

span.carbonad-tag a{
  color: #525151 !important;
}

div.animbrand a:hover,
div.animbrand a:focus {
  outline: none;
}

.animbrand a::before,
.animbrand a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.animbrand a::before {
  margin-right: 3px;
  content: '<';
  color:#428bca;
  font-size: 22px;
  line-height: 16px;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  transform: translateX(50px);
}

.animbrand a::after {
  margin-left: 3px;
  content: '>';
  color:#428bca;
  font-size: 22px;
  line-height: 16px;
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  transform: translateX(-50px);
}

.animbrand a:hover::before,
.animbrand a:hover::after,
.animbrand a:focus::before,
.animbrand a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

@media screen and (min-width: 768px) {
  .bs-header {
    padding: 5px 15px 10px;
    font-size: 21px;
    text-align: center;
  }
  .bs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

/* 
  Colorgraph
*/

.colorgraph {
  height: 5px;
  border-top:0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/*
  Thumbnails 
*/


.view-counts {
  padding-top: 5px;
  margin-right: 10px;
}

.view-counts a {
  text-decoration: none;
  color: #000;
}

.snipp-title{
  margin-left: 10px;

}

@media screen and (max-width: 992px){
  .tag-list li, .resource-list li{
    float:none;
  }
}

@media screen and (max-width: 580px){
  .snipp-title{
    font-size: 13px;
    padding-top:4px;
    width: 220px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 992px){
  .snipp-title{
    font-size: 14px;
    padding-top:4px;
    width: 200px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .snipp-title{
    font-size: 14px;
    width:220px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}

.bootsnipp-thumb{
  margin-bottom:20px;
}

.bootsnipp-thumb img{
  width: 100%;
}

/*
  Footer 
*/

.bs-footer {
  height: 90px;
  color: #777;
  background-color:#FFF;
  text-align: center;
  margin-bottom: -20px;
  border-top: 1px solid #e5e5e5;
}
.footer-links {
  margin: 10px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .bs-footer {
    text-align: left;
  }
}

/*
  Social sharing
*/

.bs-social {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.bs-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-social-buttons li {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
}

.bs-social-buttons .facebook-btn {
  width: 130px !important;
}

.bs-social-buttons .twitter-follow-button {
  width: 225px !important;
}
.bs-social-buttons .twitter-share-button {
  width: 98px !important;
}

@media screen and (min-width: 768px) {
  .bs-social {
    text-align: left;
  }
  .bs-social-buttons li:first-child {
    padding-left: 0;
  }
}

.bs-top-callout {
  padding-top: 15px;
  color: #777;
  background-color: #F1F1F1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
  color:#b94a48;
}
.bs-callout-warning {
  background-color: #FFEFA3;
  border-color: #f1e7bc;
  color: #9B8017;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
  color: #4D72AA;
}

.bs-callout-success {
  background-color: #8AE287;
  border-color: #3BB65C;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}

/* Snippet preview/edit  page */

.preview-iframe{
    border:0;
    width: 100%;
}

#playground-container{
    height:500px;
    overflow:scroll;
    -webkit-overflow-scrolling:touch;
}

#preview-container{
    border-top: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    width: 100%;
    height: 100%;
}

.preview-iframe{
    border:0;
    width: 100%;
    height: 100%;
}

.playground-editor { 
    border: 0;
    padding: 0;
    top: 0;
    /*left: 0;*/
    width: 100%;
    height: 500px;
    border: 2px solid #CCC;
    border-radius:5px;
    position: absolute !important;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title-bar {
    background-color: #f5f5f5;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 6px;
}

.title-bar > h4, .title-bar > .avatar-sm-container {
    padding: 10px;
    margin:0;
}

.social-sharing{
    padding-top: 10px;
    padding-right: 10px;
}

.ads-container{
  margin-top:5px;
}

@media screen and (min-width: 768px) {
  .theme-control{
    float:right;
  }

  #tags{
    float:right;
    padding-top: 5px;
  }
}

@media screen and (max-width: 767px) {
  .theme-control{
    margin-top: 10px;
  }
  #tags {
    float:left;
    width:100%;
    margin-bottom: 10px;
  }

}
