*{
	margin: 0;
	padding: 0;
}
h4 {
	text-align: left;
	font-size: 100%;
}
#wrapper{
	margin-top: 2%;
	margin-left:10%;
	margin-right:5%;
	width: auto;
}
#title{
	margin-left:-1%;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	text-decoration: none;

	
}
.fHead{
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	margin-left:0;
	text-decoration: none;
		width:auto;
	font-weight: bold;

}
.terms{
	line-height: 130%;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	text-align: center;
	margin-left:0;
	margin-right:10%;
	font-size:10pt;
	width: auto;
	text-decoration: none;
}
.inline{
	width:auto;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	text-align: left;
	margin-left:2%;
	font-size:10pt;
}

